* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url('images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho h1 img {
    margin: 20px 20px 20px;
    width: 200px;
}

.main-container {
    display: flex;
    margin: 0 auto 0;
}

.main-container .image img {
    width: 620px;
    margin-left: 50px;
}

.main-container .text {
    color: white;
}

.main-container .text h2 {
    font-size: 3.5rem;
    max-width: 400px;
    margin: 40px ;
}

.main-container .text p {
    font-size: 1.6rem;
    max-width: 600px;
    margin: 30px 30px 20px;
    text-align: justify;
    line-height: 25px;
    font-weight: 600;
}

.main-container .text button {
    background-color: white;
    border: none;
    outline: none;
    padding: 15px 45px;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 700;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
    transition: 0.3s;
    margin: 0 40px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.411);
}

.main-container .text button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.rodape {
    display: flex;
    justify-content: flex-end;
}

.rodape .social {
    margin: 20px 60px 20px;
}

.rodape .social a i {
    font-size: 3rem;
    color: white;
    margin-left: 10px;
    transition: 0.3s;
}

.rodape .social a i:hover {
    color: hsl(300, 69%, 71%);
}

@media (max-width: 960px) {

    body {
        background-position: center center;
        background-size: cover;
    }

    .main-container {
        display: block;
        text-align: center;
    }

    .main-container .image img {
        width: 80%;
    }
}

@media (max-width: 425px) {
    .main-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main-container .image img {
        width: 220px;
        margin: 0 auto;
    } 

    .main-container .text h2 {
        font-size: 2rem;
        line-height: 35px;
    }

    .main-container .text p {
        font-size: 1.6rem;
        text-align: center;
        font-weight: 500;
    }

    .main-container .text button {
        padding: 10px 80px;
        font-weight: 500;
    }

    .rodape {
        display: block;
        text-align: center;
        padding: 20px;
    }

    .rodape .social a i {
        font-size: 2.5rem;
    }
}